# Java
*.class
hs_err_pid*

# Eclipse
eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# Intellij Idea
out
*.ipr
*.iws
*.iml
.idea

# Gradle
build
.gradle

# VS Code
.vscode/

# Run environment
run

# Forge
forge*changelog.txt

# Directories
.DS_Store
.directory
