# Java
*.class
hs_err_pid*

# Eclipse
eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# Intellij Idea
out
*.ipr
*.iws
*.iml
.idea

# Gradle
build
.gradle

# VS Code
.vscode/

# Minecraft
.minecraft/

# Directories
.DS_Store
.directory
